body{
  font-family: 'Roboto', sans-serif;
  background-color: #F1F1F1 ;
}

.navbar-retro{
  position: relative;
  color: #686867;

}

.navbar{
  padding: 0;
  height: 60px;
  margin-bottom: 0;
}

.header-container{
  height: 100%;
  vertical-align: middle;
  line-height: 60px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #ffffff;
}

#logo-container{
  background-color: #EE9B22;
  width: 60px;
  text-align: center;
  background-size: contain;

}

#retro-name{
  font-size: 18px;

  font-weight: 400;
  font-style: italic;
  border-right: 1px solid #F1F1F1;
}

#retro-time {
  a{
    color: #DF4B61;
  }
  position: relative;
  font-size: 36px;
  font-weight: 300;
  border-right: 1px solid #F1F1F1;
  text-align: center;
}

#retro-share{
  text-align: center;
  a{
    color: #686867;
  }
  .right-floated{
    float:right;
    margin-right: 20px;
  }
  .participants-count{
    a{
      padding: 5px;
      background-color: #F1F1F1;
      color: #686867;
    }

    width: 28px;
    overflow: visible;
  }
  .username{
    color: #000000;
    font-size: 11px;
  }
  .share-button{
    a{
      background-color: #EE9B22;
      padding: 6px 15px;
      color: #ffffff;
      border-radius: 3px;
      font-size: 11px;
      border: 1px solid #EE8116;
    }

  }

  .remaining-points {
    width: 113px;
    color: #000000;
    font-size: 13px;
    line-height: 2;
  }
}

#settings-btn {
  i {
    width: 14px;
  }
}

.settings-container {
  height: 100%;
  width: 300px;
  position: fixed;
  right: 0;
  background-color: rgba(221, 221, 221, 0.9);
  display: none;

  .row {
    margin-left: 0;
    margin-right: 0;

    padding: 0 15px;

    input {
      width: 100%;
    }
  }

  .settings-title {
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0;
  }

  .settings-group-title {
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 6px;
  }

  .settings-item {
    margin: 5px 0;
  }

  .settings-item-title {
    font-size: 18px;
    font-weight: 100;
  }
}

.user-initial {
  line-height: 20px;
  width: 20px;
  text-align: center;
  font-weight: bolder;
}

.connected-users{
  right: -30.5px !important;
  border-radius: 0;
  box-shadow: none;
  margin-top: -10px;
  padding: 7px;

  width: 88px;
  height: auto;

  max-width: 200px;
  min-width: 0;
  min-height: 40px;

  .clear-both {
    clear: both;
  }

  li{
    background-color: grey;
    margin-top: 5px;
    color: #ffffff;
  }

  .user {
    float: left;
    margin: 3px;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    text-align: center;

    font-weight: 300;
  }

  &:before{
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    top: -10px;
    right: 38px;
    border: 5px solid transparent;
    border-bottom-color: #D8D8D8;
  }
}

.participants-dropdown-container {
  position: relative;
}

.modal {
  margin-top: 100px;
  height: 400px;
}

#joinModal{
  .modal-header{
    color: #686867;
  }
  .modal-content{
    border-radius: 0;
    padding: 20px;
  }
  input[type="submit"]{
    background-color: #EE9B22;
    width: 100px;
    text-align: center;
    border: none;
    color: #ffffff;
    height: 50px;
    margin-left: 400px;
    margin-bottom: 20px;
  }
}

#shareModal,
#currentTimeboxModal {
  .modal-header{
    color: #686867;
  }
  .modal-body{

  }
  .modal-content{
    border-radius: 0;
    padding: 20px;
  }
  .share-link{
    float: left;
    width: calc(100% - 75px);
    overflow: hidden;
    border: 1px solid #D8D8D8;
    padding: 10px;
    background-color: #F1F1F1;
    span::selection {
      background: #EE9B22; /* WebKit/Blink Browsers */
    }
    span::-moz-selection {
      background: #EE9B22; /* Gecko Browsers */
    }
  }
  a{
    float: left;
    height: 42px;
    width: 75px;
    line-height: 42px;
    display: block;
    background-color: #EE9B22;
    text-align: center;
    border: none;
    color: #ffffff;

  }
}

span.invite-team-members{
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  color: black;
}

.time-box{
  width: 100%;
  margin-top: 8px;

  &:before{
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    top: -16px;
    left: 50%;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
  }

  .time-dots {
    float: left;
    height: 60px;
    text-align: center;
    line-height: 34px;
    vertical-align: middle;
    width: 20px;
  }

  li{
    font-size: 23px;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #F1F1F1;
    text-align: left;
    span.minutes{
      font-size: 16px;
      margin-left: 10px;
      display: block;
    }
    .time-title{
      margin-bottom: 10px;
      display: block;
      font-size: 16px;
      color: black;
    }
    &.current-timebox{
      font-size: 23px;
      color: #DF4B61 ;
    }
    &:last-child{
      border: none;
    }
  }

}

#start_current_time {
  background-color: #df4b61;
  color: #ffffff !important;
  border: none;
  line-height: 37px;
  height: 40px;
  font-size: 16px;
  width: 120px;
  margin-top: 30px;
  display: block;
}
.sticky, .new-sticky {
  margin: 15px;
  width: 150px;
  height: 150px;
  background-color: #23719F;
  overflow: hidden;
  box-shadow: 4px 3px 10px #cccccc;

  p {
    font-size: 26px;
    text-align: center;
    font-weight: 300;
    word-wrap: break-word;
  }

  ul {
    outline: 0;
    margin-top: -2px;

    .sticky-min {
      width: 42px;
      height: 42px;
      margin: 2px 2px 4px 2px
    }
    .sticky-max {
      width: 150px;
      height: 150px;
    }
  }
}

.remove-sticky{
  cursor: pointer;
}

.good {
  background-color: #FFC928;
}

.bad {
  background-color: #DF4B61;
}

.idea {
  background-color: #4BB5DF;

}

.new {
  background-color: #92E194;
}

.group-color {
  background-color: #B6B6B6;
  p {
    display: none;
  }
}

.container-sticky {
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;

  li {
    float: left;
    width: 96px;
    padding: 0.4em;
    margin: 0 0.4em 0.4em 0;
    text-align: center;
  }
}

.single {
  p {
    display: block;
  }
}

.grouped {
  p {
    display: none;
  }
}

.sticky-text {
  background-color: transparent;
  border-color: transparent;
  resize: none;
  &:focus {
    outline: 0;
  }
}

.set-btn{
  background-color: #868787;
  font-size: 14px;
  border: none;
  color: #ffffff !important;
  width: 46px;
  line-height: 25px;
}

#set_timebox_section{
  .time-input{
    width: 100%;
    line-height: normal;
  }
}

.radius2px{
  border-radius: 2px;
}

#end_current_time {
  position: absolute;
  margin-top: 10px;
  margin-left: 35px;
  background-color: #df4b61;
  color: #ffffff !important;
  border: none;
  line-height: 37px;
  height: 40px;
  font-size: 16px;
  width: 95px;
}

.sticky-types {
  width: 150px;
  height: 30px;
  overflow: hidden;
  margin-left: -6px;
  margin-top: 5px;

  .sticky-type {
    float: left;
    width: 50px;
    height: 100%;
    cursor: pointer;

    img {
      width: 25px;
      margin-top: 2px;
    }
  }

  .good-type {
    background-color: #FFC928;
  }

  .idea-type {
    background-color: #4BB5DF;
    img {
      width: 17px;
    }
  }

  .bad-type {
    background-color: #DF4B61;
  }
}

.time-box-separator {
  margin: 3em 0;
}

.container-stickies {
  width: 100%;
  height: 100%;
}

textarea::-webkit-input-placeholder {  color: #333333;}

.votes-title{
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  color: black;
}

.votes-input{
  width: 100%;
  line-height: normal;
}