body{
  font-family: 'Roboto', sans-serif;
  background-color: #F1F1F1 ;
}

.navbar-retro{
  position: relative;
  color: #686867;

}

.navbar{
  padding: 0;
  height: 60px;
}

.header-container{
  height: 100%;
  vertical-align: middle;
  line-height: 60px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #ffffff;
}

#logo-container{
  background-color: #EE9B22;
  width: 60px;
  text-align: center;
  background-size: contain;

}

#retro-name{
  font-size: 18px;

  font-weight: 400;
  font-style: italic;
  border-right: 1px solid #F1F1F1;
}

#retro-time {
  a{
    color: #DF4B61;
  }
  font-size: 36px;
  font-weight: 300;
  border-right: 1px solid #F1F1F1;
  text-align: center;
}

#retro-share{
  text-align: center;
  a{
    color: #686867;
  }
  .right-floated{
    float:right;
    margin-left: 20px;
  }
  .participants-count{
    a{
      padding: 5px;
      background-color: #F1F1F1;
      color: #686867;
    }
  }
  .username{
    color: #000000;
    font-size: 11px;
  }
  .share-button{
    a{
      background-color: #EE9B22;
      padding: 6px 15px;
      margin-right: 10px;
      color: #ffffff;
      border-radius: 3px;
      font-size: 11px;
      border: 1px solid #EE8116;
    }

  }
}

.user-initial {
  line-height: 20px;
  width: 20px;
  text-align: center;
  font-weight: bolder;
}

.connected-users{
  right: 23px;
  left: auto;
  width: 210px;
  border-radius: 0;
  box-shadow: none;
  margin-top: -10px;
  padding: 7px;

  li{
    background-color: grey;
    margin-top: 5px;
    color: #ffffff;
  }

  &:before{
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    top: -10px;
    left: 86px;
    border: 5px solid transparent;
    border-bottom-color: #D8D8D8;
  }

}

#joinModal{
  margin-top: 100px;
  height: 400px;
  .modal-header{
    color: #686867;
  }
  .modal-content{
    border-radius: 0;
    padding: 20px;
  }
  input[type="submit"]{
    background-color: #EE9B22;
    width: 100px;
    text-align: center;
    border: none;
    color: #ffffff;
    height: 50px;
    margin-left: 400px;
    margin-bottom: 20px;
  }
}

#shareModal{
  margin-top: 100px;
  height: 400px;
  .modal-header{
    color: #686867;
  }
  .modal-body{

  }
  .modal-content{
    border-radius: 0;
    padding: 20px;
  }
  .share-link{
    float: left;
    width: calc(100% - 75px);
    overflow: hidden;
    border: 1px solid #D8D8D8;
    padding: 10px;
    background-color: #F1F1F1;
    span::selection {
      background: #EE9B22; /* WebKit/Blink Browsers */
    }
    span::-moz-selection {
      background: #EE9B22; /* Gecko Browsers */
    }
  }
  a{
    float: left;
    height: 42px;
    width: 75px;
    line-height: 42px;
    display: block;
    background-color: #EE9B22;
    text-align: center;
    border: none;
    color: #ffffff;

  }
}

.time-box{
  width: 100%;
  margin-top: 8px;
  &:before{
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    top: -16px;
    left: 50%;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
  }

  .time-dots {
    float: left;
    height: 60px;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
  }

  li{
    font-size: 23px;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #F1F1F1;
    &.current-timebox{
      font-size: 23px;
      text-align: left;
      color: #DF4B61 ;
      text-align: center;

      span, a {
        margin: 20px;
      }
      .end-btn {
        background-color: #df4b61;
        color: #ffffff !important;
        border: none;
        line-height: 37px;
        height: 40px;
        font-size: 16px;
        width: 60px;
      }

    }
    &:last-child{
      border: none;
    }
  }

}

.sticky, .new-sticky {
  margin: 15px;
  width: 150px;
  height: 150px;
  background-color: #23719F;
  overflow: hidden;
  box-shadow: 4px 3px 10px #cccccc;
  p {
    font-size: 26px;
    text-align: center;
    font-weight: 300;
    word-wrap: break-word;
  }
  ul {
    outline: 0;
  }
}
.remove-sticky{
  cursor: pointer;
}

.good {
  background-color: #FFC928;
}

.bad {
  background-color: #DF4B61;
}

.idea {
  background-color: #4BB5DF;

}

.new {
  background-color: #92E194;
}

.group-color {
  background-color: #B6B6B6;
  p {
    display: none;
  }
}

.container-sticky {
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;

  li {
    float: left;
    width: 96px;
    padding: 0.4em;
    margin: 0 0.4em 0.4em 0;
    text-align: center;
  }
}

.single {
  p {
    display: block;
  }
}

.grouped {
  p {
    display: none;
  }
}

.sticky-text {
  background-color: transparent;
  border-color: transparent;
  resize: none;
  &:focus {
    outline: 0;
  }
}

.set-btn{
  background-color: #868787;
  font-size: 14px;
  border: none;
  color: #ffffff !important;
  width: 45px;
  line-height: 25px;
}

#write_stickies_time_section{
  .time-input{
    width: 100%;
    line-height: normal;
  }
}

.radius2px{
  border-radius: 2px;
}