.settings-container
  .row
    .settings-title
      %span
        %i.fa.fa-cog
        Settings
  .row
    .row
      .settings-group-title
        Votes
    .row.settings-item
      .col-md-8
        .settings-item-title
          Max Votes
      .col-md-3
        %input{ name: 'settings[maxVotes]',  value: '5', type: 'number', class: 'text-center' }

  .row
    .row
      .settings-group-title
        Otros
    .row.settings-item
      .col-md-8
        .settings-item-title
          Otro campo
      .col-md-3
        %input{ name: 'settings[otroCampo]',  value: '5', type: 'number', class: 'text-center' }
