.modal.fade#shareModal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          Invite members
      .modal-body
        .share-link
          %span= retrospective_url(current_retro.public_key)

        = link_to 'Copy', '#', class: 'copy'