.modal.fade#shareModal{ 'role' => 'dialog', 'tab-index'=> '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4.modal-title
          Invite members
      .modal-body.clearfix
        .share-link
          %span= retrospective_url(current_retro.public_key)

        = link_to 'Copy', '#', class: 'copy'