.modal.fade#shareModal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          Invite members
      .modal-body
        .share-link
          %span
            http://localhost:3000/retrospectives/q4KZjuyHhRgAPa8iFvllYQ==#

        = link_to 'Copy', ''
