.modal.fade.in.show#currentTimeboxModal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          Hey there!

      .modal-body.clearfix
        Your retrospective is about to begin just a few minutes to go.

.modal-backdrop.fade.in