- if current_user
  .container-stickies
    %ul#stickies
      - if current_user_can_create?
        = render 'stickies/new'

      - if current_user_can_group?
        = render 'stickies/grouped_list'

      - if current_user_can_group? || current_user_can_create?
        = render 'stickies/ungrouped_list'

- else
  = render 'users/join_modal'