%form#new_sticky{ 'accept-charset'=> 'UTF-8' }
  %textarea#sticky_body{ name: 'sticky[body]'}

  .actions
    %input{ type: :submit, value: 'Create Sticky' }

#stickies
  - Sticky.all.each do |sticky|
    %span.sticky.label.label-primary{ 'data-sticky' => sticky.to_json }
      #{sticky.id} #{sticky.body}
      %i.glyphicon.glyphicon-remove.remove-sticky